@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://unpkg.com/leaflet/dist/leaflet.css');



body {
  background: #f3f4f6;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
